/* *** BUTTONS *** */

/* BUTTON */
.btn {
  border-radius: 7px;
  letter-spacing: 0.56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.disabled,
  &:disabled {
    background-color: $grey-100;
    color: $grey-400;

    i {
      color: $grey-400;
    }
    .svg-icon {
      @include svg-icon-color($grey-400);
    }
    &.dropdown-toggle:after {
      color: $grey-400;
    }

    &.btn-secondary {
      background-color: unset;
    }
  }
}
