.bar {
  min-height: 37px;
  text-align: center;
  display: grid;
  place-items: center;

  p {
    margin-bottom: 0;
    padding: 0.4rem 0;
  }

  &.bar-warning {
    background-color: #fce0b6;

    p {
      color: #975e06;
    }
  }

  &.bar-danger {
    background-color: #ffebf0;

    p {
      color: #f1416c;
    }
  }
}
